### Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [32]:
import sys; sys.path.insert(0, '..')
from sklearn.model_selection import train_test_split

from lib.Core import (
    TEST_RANGE, RANDOM_SEED, PRICE,
    load_data, train_model
)

In [33]:
X, y = load_data()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_RANGE, random_state=RANDOM_SEED)

In [34]:
train_results, score = train_model(
    X_train,
    y_train,
    X_test,
    y_test[PRICE]
)

In [35]:
train_results

     Correct   Precited      Error
173     23.6  28.648960   5.048960
274     32.4  36.495014   4.095014
491     13.6  15.411193   1.811193
72      22.8  25.403213   2.603213
452     16.1  18.855280   2.755280
..       ...        ...        ...
441     17.1  17.403672   0.303672
23      14.5  13.385941  -1.114059
225     50.0  39.983425 -10.016575
433     14.3  16.682863   2.382863
447     12.6  18.285618   5.685618

[152 rows x 3 columns]

In [36]:
score

0.669370269149561